<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/login.css">
    <title>Login</title>

</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <div id="loginError"></div>
        <div id="loginSuccess"></div>
        <form action="#">
            <label for="email">Email</label>
            <input type="email" id="email" class="email" >
            <label for="password">Password</label>
            <input type="password" id="password" class="password" >
            <button id="login">Login</button>
            <a href="./forgot.html">forgot password</a>
        </form>
        <p>Do not have an account? <a href="./signup.html">Sign Up</a></p>
 

        
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="login.js"></script>
</body>
</html>
