<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <header>
        <h1>Sign Up</h1>
    </header>
    <main>
        <div id="error"></div>
        <form >
            <label for="name">Name</label>
            <input type="text" id="name" class="name"  >
            <label for="email">Email</label>
            <input type="email" id="email" class="email" >
            <label for="password">Password</label>
            <input type="password" id="password" class="password" >
            <button id="signup">signup</button>
        </form>
        <p>Already have an account? <a href="./login.html">Sign In</a></p>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="signup.js"></script>
</body>
</html>